@model Kuttypayan.Web.Models.DictionaryModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">

    </script>
</head>
<body>
    <div>

        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @id = "form" }))
        {
            @Html.LabelFor(model => Model.Search)
            @Html.TextBoxFor(model => model.Search) 
            <button id="submitbtn" value="Submit"> Search </button>
              @Html.ValidationMessageFor(model => model.Search)
        }
        @Html.Partial("WordListPartial", Model)
    </div>
</body>
</html>
